.container {
  position: sticky;
  top: 0;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  height: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
