.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  backdrop-filter: blur(4px);
}

.title {
  font-size: 80px;
  font-weight: bold;
  text-shadow: 1px 1px white;
}

.btn {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  background: #222;
  cursor: pointer;
  transition: 0.2s background;
}

.btn:hover {
  background: #444;
}
