.container {
  min-height: 100vh;
  padding: 40px 16px;
  background: #f8f8f8;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 640px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 32px;
}

.card {
  overflow: hidden;
  background: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 12px #0004;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.title {
  padding-top: 80px;
  font-size: 80px;
  font-weight: 900;
  color: transparent;
  text-align: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-clip: text;
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

.controls {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 12px 16px;
}

.textInput {
  width: 200px;
  padding: 4px 8px;
  border-radius: 4px;
}

.btn {
  padding: 4px 8px;
  margin-left: auto;
  cursor: pointer;
  border-radius: 4px;
}

.taskImage {
  width: 100%;
  vertical-align: bottom;
}
