@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 24px 16px;
  background: linear-gradient(45deg, #d422bd, #4022d4, #22d473);
  background-size: 600% 600%;
  animation: gradient 20s ease infinite;
}

.main {
  position: relative;
  color: #1a1a1c;
}

.appName {
  font-size: 82px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
